view, swiper, swiper-item {
	box-sizing: border-box; //一种布局属性设置，用于定义元素的宽高计算方式
}
.pageBg {
  position: relative;
  background-color: #f5f5f5; // 背景兜底
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
	min-height: 100vh;
	padding-bottom: 15rpx;
}

/* 使用伪元素制造固定高度的渐变背景 */
.pageBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, #F6FAFF 0%, #C6E0FF 100%);
  border-bottom-left-radius: 8% 10%;
  border-bottom-right-radius: 8% 10%;
  z-index: 0;
}

.homePageBg::before {
  height: 530rpx; // 首页专属高度
}

.otherPageBg::before {
  height: 300rpx; // 其他页面专属高度
}

.loadingLayout {
	padding: 30rpx 0;
}

.goBack {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 30rpx;
	margin-left: 0;
	width: 30px;
	height: 30px;
	border: 1rpx solid rgba(255, 255, 255, 0.3);
	border-radius: 35px;
	background: rgba(66, 134, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10rpx);
}

.without {
	// font-size: 40rpx;
	// width: 690rpx;
	// height: 500rpx;
	// margin: 20rpx auto 0;
	margin: 0 20rpx;
	background: #ffffff;
	border-radius: 15.27rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}


.safe-area-inset-bottom {
	height: env(safe-area-inset-bottom)
}

.btnStyle {
	color: #fff;
	background: #4286FF;
	border-radius: 35rpx;
	line-height: 76rpx;
	min-height: 76rpx;
	font-size: 32rpx;
	text-align: center;
}

.bigBtn {
	width: 80%;
}

.smallBtn {
	width: 45%;
}


